<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289301897499-r3r6ai90maufkosgk4ahpsj53eic8e8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289301897499-r3r6ai90maufkosgk4ahpsj53eic8e8t</string>
	<key>API_KEY</key>
	<string>AIzaSyAtUY9nhzMH4QFF_a5pL7oTaSW9-d28BPg</string>
	<key>GCM_SENDER_ID</key>
	<string>289301897499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tdtu.edu.vn.gfi</string>
	<key>PROJECT_ID</key>
	<string>gfi-project-7bbd2</string>
	<key>STORAGE_BUCKET</key>
	<string>gfi-project-7bbd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289301897499:ios:e7f51e519525c4f0d4f3be</string>
	<key>DATABASE_URL</key>
	<string>https://gfi-project-7bbd2-default-rtdb.firebaseio.com</string>
</dict>
</plist>